<!DOCTYPE html>
<html lang="en">
<head>
  <title>CTA</title>
  <meta charset="utf-8">
</head>
<body>
  <div><%= @uid %></div>
  <div><%= @scenario %></div>
  <div><%= @title %></div>
  <div><%= @course %></div>
</body>
</html>